@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    padding: 30px;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%230000ff' fill-opacity='0.16'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    .card {
        width: 600px;
        border-radius: 30px;
        border: 0;
        padding: 30px;
        box-shadow: 0 0 10px #aaa;
        .card-body {
            padding: 0;
            .title {
                width: 100%;
                height: 100px;
                border-radius: 20px;
                margin-bottom: 20px;
                background-color: blue;
                color: #fff;
                text-align: center;
                line-height: 100px;
                font-weight: bold;
                font-size: 1.5rem;
            }
            p{
                padding: 0 10px;
            }
        }
        .inputCtn {
            margin: 10px 0;
            display: flex;
            flex-direction: column;
            .form-floating {
                input {
                    border-radius: 30px;
                    padding-right: 20px;
                    padding-left: 20px;
                }
                label {
                    padding-left: 20px;
                }
            }
            .btn-enviar {
                border-radius: 30px;
                padding: 0.5rem 2rem;
                align-self: flex-end;
                background-color: blue;
            }
        }
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: aquamarine;
            p {
                text-transform: capitalize;
                margin: 0;
            }
            &:hover {
                background-color: rgb(244, 107, 107);
                cursor: pointer;
            }
        }
        h3 {
            margin: 20px 0;
            text-decoration: underline;
        }
    }
    &.error {
        .form-floating:nth-child(2)::after {
            content: "* Debe completar todos los campos";
            color: #f00;
            font-size: 0.8rem;
        }
    }
}
